body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #967ecb;
  box-sizing: border-box;

  #app {
    min-height: 100vh;
    color: white;
    // padding: 15px;
  }

  #search {
    margin-bottom: 25px;

    input[type="submit"] {
      width: 15%;
      margin-top: 5px;
    }
  }

  .addForm,
  .updateForm,
  .media-content {
    button {
      margin-top: 10px;
    }
  }

  #addDiv,
  #trackedScrollWrap {
    padding-bottom: 1.1em;

    h1 {
      margin: 15px 0;
    }
  }

  .box {
    margin-bottom: 1.5em;
  }

  nav {}

  #search {}

  #controls {}

  #content {}
}