body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #967ecb;
  box-sizing: border-box; }
  body #app {
    min-height: 100vh;
    color: white; }
  body #search {
    margin-bottom: 25px; }
    body #search input[type="submit"] {
      width: 15%;
      margin-top: 5px; }
  body .addForm button,
  body .updateForm button,
  body .media-content button {
    margin-top: 10px; }
  body #addDiv,
  body #trackedScrollWrap {
    padding-bottom: 1.1em; }
    body #addDiv h1,
    body #trackedScrollWrap h1 {
      margin: 15px 0; }
  body .box {
    margin-bottom: 1.5em; }
