body {
  height: 100%;
  width: 100%;
  background-color: #967ecb;
  box-sizing: border-box; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #967ecb;
  box-sizing: border-box; }

#app {
  min-height: 100vh;
  color: white; }

#search {
  margin-bottom: 25px; }

#search input[type="submit"] {
  width: 15%;
  margin-top: 5px; }

.addForm button,
.updateForm button,
.media-content button {
  margin-top: 10px; }

#addDiv h1,
#trackedScrollWrap h1 {
  margin: 15px 0; }
